.city-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.city-info{
    background-color: #fff;
    border: 1px solid rgb(66, 64, 64);
    text-align: center;
    flex-basis: 15%;
}

.city-info:hover {
    background-color: rgb(194, 189, 189);
    cursor: pointer;
    transition: all .3s;
}

p{
    font-size: 13px;
    margin-top: 15px;
}

h3 {
    margin-top: 15px;
    color: orangered;
}

span {
    font-weight: bold;
}